# @package module.model
audio_processor:
  _target_: torch.nn.Sequential
  _args_:
    - _target_: speechbrain.lobes.features.Fbank
      sample_rate: ${datamodule.dataset.sample_rate}
      deltas: False
      n_mels: 80
      f_min: 0
      f_max: null
      n_fft: 512
      win_length: 25
      hop_length: 10
      left_frames: 0
      right_frames: 0

audio_processor_normalizer:
  _target_: torch.nn.Identity

audio_encoder:
  _target_: src.utils.hf_utils.load_wespeaker_model
  model_name: "eres2net34_aug"
  repo_id: null 
  checkpoint_filename: null
  model_args:
    feat_dim: 80
    embed_dim: 256
    pooling_func: 'TSTP'
    two_emb_layer: False
    expansion: 4
    baseWidth: 24
    scale: 3

classifier:
  _target_: speechbrain.lobes.models.ECAPA_TDNN.Classifier
  input_size: 256
  out_neurons:  ${datamodule.num_classes}
