_target_: src.modules.sv.SpeakerVerification

defaults:
  - _self_

model:
  audio_processor: ???
  audio_processor_normalizer: ???
  audio_encoder: ???
  classifier: ???

# ### caching ###
#   embedding_cache:
#     max_size: 500000
#     bypass_warmup: True
    
### criteria and metrics ###
criterion:
  aam: &_amm_
    _target_: speechbrain.nnet.losses.LogSoftmaxWrapper
    loss_fn:
      _target_: speechbrain.nnet.losses.AdditiveAngularMargin
      margin: 0.2
      scale: 30.0
  train_criterion: *_amm_
  valid_criterion: *_amm_

  # For callbacks
  loss: ${module.criterion.train_criterion}

metrics:
  train: 
    _target_: "torchmetrics.Accuracy"
    task: "multiclass"
    num_classes: ${datamodule.num_classes}
  valid:
    _target_: "torchmetrics.Accuracy"
    task: "multiclass"
    num_classes: ${datamodule.num_classes}
  valid_best:
    _target_: torchmetrics.MaxMetric
  test:
    _target_: src.modules.metrics.metrics.VerificationMetrics

### optimizer and lr_scheduler ###
optimizer: ???
lr_scheduler: ???

### extras and callbacks ###
logging_params:
  on_step: False
  on_epoch: True
  sync_dist: True
  prog_bar: True


### score normalization ###
normalize_test_scores: ???   # apply score normalization or not
scores_norm:
  embeds_metric_params:
    num_speakers_in_cohort: 6000
    min_utts_per_speaker: 7
  scores_norm_params:
    topk: 10000
    min_cohort_size: 3000
