_target_: src.modules.sv.SpeakerVerification

defaults:
  - _self_

### Data for augmentation ###
data_augemntation:

  noise_dataset_url: https://www.dropbox.com/scl/fi/a09pj97s5ifan81dqhi4n/noises.zip?rlkey=j8b0n9kdjdr32o1f06t0cw5b7&dl=1
  rir_dataset_url: https://www.dropbox.com/scl/fi/linhy77c36mu10965a836/RIRs.zip?rlkey=pg9cu8vrpn2u173vhiqyu743u&dl=1
  data_folder_rir_noises: ${datamodule.dataset.data_dir}/RIRS_NOISES
  noise_annotation: ${module.data_augemntation.data_folder_rir_noises}/noise.csv
  rir_annotation: ${module.data_augemntation.data_folder_rir_noises}/reverb.csv

  data:
    noise_dataset:
      _target_: speechbrain.augment.preparation.prepare_dataset_from_URL
      URL: ${module.data_augemntation.noise_dataset_url}
      dest_folder: ${module.data_augemntation.data_folder_rir_noises}
      ext: wav
      csv_file: ${module.data_augemntation.noise_annotation}

  augmentations:
    add_noise:
      _target_: speechbrain.augment.time_domain.AddNoise
      csv_file: ${module.data_augemntation.noise_annotation}
      snr_low: 0
      snr_high: 15
      noise_sample_rate: ${datamodule.dataset.sample_rate}
      clean_sample_rate: ${datamodule.dataset.sample_rate}
      num_workers: ${datamodule.loaders.train.num_workers}

    prepare_rir:
      _target_: speechbrain.augment.preparation.prepare_dataset_from_URL
      URL: ${module.data_augemntation.rir_dataset_url}
      dest_folder: ${module.data_augemntation.data_folder_rir_noises}
      ext: wav
      csv_file: ${module.data_augemntation.rir_annotation}

    add_reverb:
      _target_: speechbrain.augment.time_domain.AddReverb
      csv_file: ${module.data_augemntation.rir_annotation}
      reverb_sample_rate: ${datamodule.dataset.sample_rate}
      clean_sample_rate: ${datamodule.dataset.sample_rate}
      num_workers: ${datamodule.loaders.train.num_workers}

    drop_freq:
      _target_: speechbrain.augment.time_domain.DropFreq
      drop_freq_low: 0
      drop_freq_high: 1
      drop_freq_count_low: 1
      drop_freq_count_high: 3
      drop_freq_width: 0.05

    drop_chunk:
      _target_: speechbrain.augment.time_domain.DropChunk
      drop_length_low: 1000
      drop_length_high: 2000
      drop_count_low: 1
      drop_count_high: 5

    wav_augmenter:
      _target_: speechbrain.augment.augmenter.Augmenter
      parallel_augment: true
      concat_original: true
      min_augmentations: 4
      max_augmentations: 4
      augment_prob: 1.0
      augmentations:
        - ${module.data_augemntation.augmentations.add_noise}
        - ${module.data_augemntation.augmentations.add_reverb}
        - ${module.data_augemntation.augmentations.drop_freq}
        - ${module.data_augemntation.augmentations.drop_chunk}

model:
  audio_processor:
    _target_: torch.nn.Identity

  audio_encoder:
    _target_: speechbrain.inference.EncoderClassifier.from_hparams
    source: "speechbrain/spkrec-ecapa-voxceleb"
    savedir: "local/.pretrained_models/spkrec-ecapa-voxceleb"
    run_opts:
      device: "cuda"

  # audio_processor:
  #   _target_: speechbrain.lobes.features.MFCC
  #   sample_rate: 16000
  #   win_length: 25                # in seconds
  #   hop_length: 10                # in seconds
  #   n_mels: 80                    # Number of mel filters
  #   n_mfcc: 80                    # 80-dimensional MFCCs
  #   deltas: False                 # No delta features
  #   left_frames: 0                # No context frames
  #   right_frames: 0               # No context frames
  #   f_min: 0                      # Minimum frequency
  #   f_max: 8000                   # Nyquist frequency for 16kHz

  # audio_encoder:
  #   _target_: speechbrain.lobes.models.ECAPA_TDNN.ECAPA_TDNN
  #   input_size: 80

### classifiers ###
  classifiers:
    config:
      num_classes: ${datamodule.num_classes}
      bottleneck_size: 512
      audio_embedding_size: 192  # ECAPA embedding size

    classifier:
      _target_: torch.nn.Sequential
      _args_:
        - _target_: torch.nn.Linear
          in_features: ${module.model.classifiers.config.audio_embedding_size}
          out_features: ${module.model.classifiers.config.num_classes}

### caching ###
  embedding_cache:
    max_size: 500000
    bypass_warmup: True
    
### criteria and metrics ###
criterion:
  available_criteria:    
    aam:
      _target_: speechbrain.nnet.losses.LogSoftmaxWrapper
      loss_fn:
        _target_: speechbrain.nnet.losses.AdditiveAngularMargin
        margin: 0.2
        scale: 30.0    
    cross_entropy:
      _target_: torch.nn.CrossEntropyLoss

  # Selected criterion (defaults to comprehensive)
  selected_criterion: ???
  train_criterion: ${module.criterion.available_criteria.${module.criterion.selected_criterion}}
  valid_criterion: ${module.criterion.available_criteria.${module.criterion.selected_criterion}}

  # For callbacks
  loss: ${module.criterion.train_criterion}

metrics:
  train: 
    _target_: "torchmetrics.Accuracy"
    task: "multiclass"
    num_classes: ${module.model.classifiers.config.num_classes}
  valid:
    _target_: "torchmetrics.Accuracy"
    task: "multiclass"
    num_classes: ${module.model.classifiers.config.num_classes}
  valid_best:
    _target_: torchmetrics.MaxMetric
  test:
    _target_: src.modules.metrics.metrics.VerificationMetrics

### optimizer and lr_scheduler ###
optimizer:
  _target_: torch.optim.AdamW
  _partial_: True
  lr: 1.0e-4
  weight_decay: 1.0e-5

scheduler_settings:
  available_lr_scheduler:
    warmup_cosine:
      _target_: torch.optim.lr_scheduler.SequentialLR
      schedulers:
        - _target_: torch.optim.lr_scheduler.LinearLR
          start_factor: 0.1
          total_iters: ${int:${mul:${trainer.max_epochs},0.1}}
        - _target_: torch.optim.lr_scheduler.CosineAnnealingLR
          T_max: ${int:${sub:${trainer.max_epochs},${module.scheduler_settings.available_lr_scheduler.warmup_cosine.schedulers[0].total_iters}}} # Remaining epochs after linear warmup
          eta_min: ${mul:${module.optimizer.lr},0.05}
      milestones:
        - ${int:${mul:${trainer.max_epochs},0.1}}  # 10% of total epochs are used for linear warmup, remaining for cosine annealing
      extras:
        monitor: ${replace:"valid/__metric__"}
        interval: epoch
        frequency: 1

    reduce_on_plateau:
      scheduler:
        _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
        mode: "max"
        factor: 0.3
        min_lr: 1.0e-7
        patience: 2
        verbose: True
      extras:
        monitor: ${replace:"valid/__metric__"}
        interval: "epoch"
        frequency: 1

  # Selected scheduler (defaults to reduce_on_plateau)
  selected_lr_scheduler: ???

lr_scheduler: ${module.scheduler_settings.available_lr_scheduler.${module.scheduler_settings.selected_lr_scheduler}}

### extras and callbacks ###
logging_params:
  on_step: False
  on_epoch: True
  sync_dist: True
  prog_bar: True

batch_sizes:
  train: ${datamodule.loaders.train.batch_size}
  valid: ${datamodule.loaders.valid.batch_size}
  test: ${datamodule.loaders.test.batch_size}

### score normalization ###
normalize_test_scores: ???   # apply score normalization or not
scores_norm:
  embeds_metric_params:
    num_speakers_in_cohort: 6000
    min_utts_per_speaker: 7
  scores_norm_params:
    topk: 10000
    min_cohort_size: 3000
